# Ignore Gradle project-specific cache directory
.gradle
gradle/

# Ignore Gradle build output directory
build
bin

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Ignore specific IDE files
.classpath
.project
.settings